# Python Pandas Data Structure

The Pandas provides two data structures for processing the data, i.e., Series and DataFrame.The Pandas Series can be defined as a one-dimensional array that is capable of storing various data types.A Series cannot contain multiple columns

In [6]:
#Series

import pandas as pd
import numpy as np
info = np.array(['P','a','n','d','a','s'])  
a = pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [12]:
#DataFrame
import pandas as pd  
# a list of strings  
x = ['Python', 'Pandas']  
  
# Calling DataFrame constructor on list  
df = pd.DataFrame(x)  
print(df)

        0
0  Python
1  Pandas

# Creating a Series using inputs:Array, Dict, Scalar value

In [9]:
a = pd.Series(4, index = [0,1,2,3])
print(a)

0    4
1    4
2    4
3    4
dtype: int64

# Series has the following parameter: - data, index, dtype, copy

In [11]:
x = pd.Series()  
print (x)

Series([], dtype: float64)

<ipython-input-11-2da0348122c1>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

# Pandas Series map :-

The main task of map() is used to map the values from two series that have a common column.

Series.map(arg, na_action=None)

In [23]:
a = pd.Series(['Java', 'C', 'C++' , np.nan])
#a.map({'C': 'Core'})  
a.map('I like {}'.format)  
#a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3     I like nan
dtype: object

In [25]:
info = np.array([1,1,1,1,1,1])  
a = pd.Series(info)
a.std()

0.0

In [26]:
#Pandas Series.std()
info = {  
    'Name':['Parker','Smith','John','William'],  
   'sub1_Marks':[52,38,42,37],  
   'sub2_Marks':[41,35,29,36]}   
data = pd.DataFrame(info)  
data  
# standard deviation of the dataframe  
data.std()

sub1_Marks    6.849574
sub2_Marks    4.924429
dtype: float64

Series can only contain a single list with a particular index, whereas the DataFrame is a combination of more than one series that can analyze the data.

# to_frame():-

In [31]:
a = pd.Series([1,2,3,4,3,1], name='vals')
print(a)

0    1
1    2
2    3
3    4
4    3
5    1
Name: vals, dtype: int64

In [32]:
print(a.to_frame())

   vals
0     1
1     2
2     3
3     4
4     3
5     1

In [33]:
print(a.unique())

[1 2 3 4]

In [ ]:
Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

In [34]:
a.value_counts()

1    2
3    2
2    1
4    1
Name: vals, dtype: int64

In [37]:
a.value_counts(sort=True)

1    2
3    2
2    1
4    1
Name: vals, dtype: int64

In [38]:
a.value_counts(normalize=True)

1    0.333333
3    0.333333
2    0.166667
4    0.166667
Name: vals, dtype: float64