In [3]:
import pandas as pd
df = pd.read_csv("aapl_no_dates.csv")
df

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [12]:
pd.date_range(start="7/1/2021", end="7/21/2021", freq='b')

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-05', '2021-07-06',
               '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-12',
               '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
               '2021-07-19', '2021-07-20', '2021-07-21'],
              dtype='datetime64[ns]', freq='B')

In [13]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [15]:
usb =CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb
pd.date_range(start="7/1/2021", end="7/21/2021", freq=usb)

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-09', '2021-07-12', '2021-07-13',
               '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-19',
               '2021-07-20', '2021-07-21'],
              dtype='datetime64[ns]', freq='C')

In [17]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class myBirthdayCalendar(AbstractHolidayCalendar):
    rules  =[
        Holiday('birthday',month=2,day =7)
    ]
    
newCal = CustomBusinessDay(calendar=myBirthdayCalendar())
newCal

In [18]:
pd.date_range(start="7/1/2021", end="7/21/2021", freq=newCal)

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-05', '2021-07-06',
               '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-12',
               '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
               '2021-07-19', '2021-07-20', '2021-07-21'],
              dtype='datetime64[ns]', freq='C')

In [23]:
usb =CustomBusinessDay(weekmask="Sun Mon Fri")
pd.date_range(start="7/1/2021", end="7/21/2021", freq=usb)

DatetimeIndex(['2021-07-02', '2021-07-04', '2021-07-05', '2021-07-09',
               '2021-07-11', '2021-07-12', '2021-07-16', '2021-07-18',
               '2021-07-19'],
              dtype='datetime64[ns]', freq='C')

In [25]:
usb =CustomBusinessDay(weekmask="Sun Mon Fri", holidays=['2021-07-04'])
pd.date_range(start="7/1/2021", end="7/21/2021", freq=usb)

DatetimeIndex(['2021-07-02', '2021-07-05', '2021-07-09', '2021-07-11',
               '2021-07-12', '2021-07-16', '2021-07-18', '2021-07-19'],
              dtype='datetime64[ns]', freq='C')