In [2]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [8]:
m = pd.Period('2017-1', freq = 'M')
m

Period('2017-01', 'M')

In [10]:
m + 1

Period('2017-02', 'M')

In [11]:
d = pd.Period('2016-02-28')
d

Period('2016-02-28', 'D')

In [12]:
d+1

Period('2016-02-29', 'D')

In [13]:
d = pd.Period('2017-02-28')
d+1

Period('2017-03-01', 'D')

In [19]:
h = pd.Period('2017-1-1', freq = 'h')
h + 1

Period('2017-01-01 01:00', 'H')

In [20]:
h.start_time

Timestamp('2017-01-01 00:00:00')

In [29]:
h.end_time

Timestamp('2017-01-01 00:59:59.999999999')

In [30]:
h - 6

Period('2016-12-31 18:00', 'H')

In [31]:
h + pd.offsets.Hour(5)

Period('2017-01-01 05:00', 'H')

In [32]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [33]:
q = pd.Period('2017Q1' , 'Q-DEC')
q

Period('2017Q1', 'Q-DEC')

In [38]:
idx = pd.period_range('2016', '2017',  freq= 'Q-DEC')
idx[0]

Period('2016Q1', 'Q-DEC')

In [43]:
import numpy as np
ps  = pd.Series(np.random.randn(len(idx)), idx)

In [44]:
ps.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [46]:
ps['2016':'2017']

2016Q1    1.778249
2016Q2    0.626005
2016Q3   -1.469960
2016Q4    0.230388
2017Q1   -2.057499
Freq: Q-DEC, dtype: float64

In [47]:
pst = ps.to_timestamp()
pst

2016-01-01    1.778249
2016-04-01    0.626005
2016-07-01   -1.469960
2016-10-01    0.230388
2017-01-01   -2.057499
Freq: QS-OCT, dtype: float64

In [56]:

df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [57]:
df.set_index("Line Item", inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [62]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [63]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [65]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [68]:
df['start_time']=df.index.map(lambda x:x.start_time )
df

Line Item  Revenue  Expenses  Profit start_time
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01