In [1]:
import pandas as pd
weather_data = [
    {'name':'rikki','age':30},
    {'name':'rakesh','age':30},    
    {'name':'Sahil','age':33}
]

In [2]:
pd.DataFrame(weather_data)

     name  age
0   rikki   30
1  rakesh   30
2   Sahil   33

In [3]:
weather_data = [
    {'rikki',30},
    {'rakesh',30},    
    {'Sahil',33}
]
pd.DataFrame(weather_data, columns=["name", "age"])

     name    age
0   rikki     30
1  rakesh     30
2      33  Sahil